*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media screen and (max-width: 1100px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Lato', sans-serif; }

.header-logo {
  width: 8.2rem;
  height: 3.1rem; }

.header {
  background-color: #333333;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.4rem; }

.container {
  max-width: 100vw;
  max-height: 100vh;
  padding: 10rem 20rem; }
  @media screen and (max-width: 1100px) {
    .container {
      padding: 5rem 2.5rem; } }

.customers__heading {
  display: flex;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 3rem;
  margin-bottom: 2rem; }
  @media screen and (max-width: 600px) {
    .customers__heading {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

@media screen and (max-width: 600px) {
  .customers__box {
    text-align: center; } }

.customers__icon {
  background-color: rgba(255, 255, 255, 0);
  width: 3.7rem;
  height: 3.7rem;
  margin-right: 2rem; }

.customers__title {
  color: #333333;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.4rem; }

.customers__action {
  display: flex;
  justify-content: space-between; }
  .customers__action .btn-default {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .customers__action {
      flex-direction: column; } }
  .customers__action-title {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 2rem;
    color: #47525E; }
  .customers__action .btn-default {
    align-self: flex-end; }
    @media screen and (max-width: 600px) {
      .customers__action .btn-default {
        margin-top: 1.5rem;
        align-self: center; } }

.customers__list {
  margin-top: 4rem;
  list-style: none;
  font-size: 1.8rem;
  color: #251c1c; }

.customers__item {
  margin-bottom: 3rem;
  border: 1px solid #EAEAEA;
  padding: 3rem;
  justify-content: space-between;
  display: flex; }
  @media screen and (max-width: 600px) {
    .customers__item {
      text-align: center;
      flex-direction: column; }
      .customers__item > * {
        margin-bottom: 2rem; } }

.customers__status {
  display: flex;
  align-items: center;
  position: relative;
  flex-basis: 25%; }
  @media screen and (max-width: 600px) {
    .customers__status {
      justify-content: center; } }
  .customers__status--active {
    width: 1.4rem;
    height: 1.4rem;
    background-color: transparent;
    border-radius: 50%;
    background-color: #49AD5B;
    margin-right: 5px; }
  .customers__status--inactive {
    width: 1.4rem;
    height: 1.4rem;
    background-color: transparent;
    border-radius: 50%;
    background-color: #D6323F;
    margin-right: 5px; }
  .customers__status--waiting {
    width: 1.4rem;
    height: 1.4rem;
    background-color: transparent;
    border-radius: 50%;
    background-color: #D2A710;
    margin-right: 5px; }
  .customers__status--disabled {
    width: 1.4rem;
    height: 1.4rem;
    background-color: transparent;
    border-radius: 50%;
    background-color: #D2D2D2;
    margin-right: 5px; }

@media screen and (max-width: 1100px) {
  .new-user {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.new-user__form {
  display: flex;
  flex-direction: column; }

.new-user .customers__action {
  margin-bottom: 5rem; }

.new-user .btn-default {
  margin-right: 1rem;
  padding: 1.35rem 4rem;
  font-size: 1.6rem; }

.new-user__box {
  margin-top: 2rem; }

.new-user__box .btn-default-reverse {
  text-decoration: none; }

.new-user__box .btn-default {
  text-decoration: none; }

.new-user__input {
  width: 25rem;
  border: 1px solid #8492A6;
  border-radius: 5px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem; }
  @media screen and (max-width: 1100px) {
    .new-user__input {
      width: 40vw; } }
  @media screen and (max-width: 600px) {
    .new-user__input {
      width: 90vw; } }
  .new-user__input::-webkit-input-placeholder {
    font-size: 1.6rem;
    font-family: 'Lato'; }
  .new-user__input:focus {
    outline: none; }
  .new-user__input:not(:last-child) {
    margin-bottom: 2rem; }

.paragraph {
  font-weight: 300;
  font-size: 1.8rem;
  color: #666666; }

.btn-default {
  color: #FFFFFF;
  font-size: 1.6rem;
  text-align: center;
  background-color: #E29933;
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  text-decoration: none; }
  .btn-default:focus {
    outline: none; }

.btn-default-reverse {
  color: #E29933;
  font-size: 1.6rem;
  text-align: center;
  background-color: rgba(226, 153, 51, 0);
  border: 1px solid #E29933;
  border-radius: 5px;
  padding: 1.25rem 4rem;
  cursor: pointer;
  transition: .2s ease; }
  .btn-default-reverse:focus {
    outline: none; }
  .btn-default-reverse:hover {
    color: #FFFFFF;
    background-color: #E29933; }
