* , *:before, *:after{
  padding: 0;
  margin: 0;
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

html {
  font-size: 62.5%;
  @media screen and (max-width: 1100px) {
    font-size: 50%;
  }
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
}


@import "mixin";
@import "layout";
@import "components";
